#transfrom-example{
    width : 100px;
    height: 100px;
    background-color: black;
    color : white;
    transform: rotate(0deg);
}


#transition-example{
    width : 100px;
    height: 100px;
    background-color: blueviolet;
    color : white;

}

#transition-example:hover{
    height : 200px;
    transition-duration: 3s;
    transition-property:inherit;
    transition-timing-function: linear;
}